<% include headers %>
<style>
.pb-cmnt-textarea {
      resize: none;
      padding: 20px;
      height: 130px;
      width: 100%;
      border: 1px solid #F2F2F2;
  }
</style>
<div class="container"style="padding-top:10%; padding-bottom:10%;">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Blogtech</p>
      <div class="list-group">
        <li class="list-group-item active"><%= Blog.title %></li>
        
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= Blog.image %>" />
        <div class="caption-full">
          <h4 style="color:black; font-size: 3rem;">
            <strong><a><%= Blog.title %></a></strong>
          </h4>
          <p style="color:black"><%= Blog.content %></p>
          <p>
            <em style="color:black" style="font-size:2rem"
              ><strong>Submitted By: </strong><%= Blog.author.username %></em
            >
          </p>
          <%  if(Blog.author.id.equals(currentUser.id)){ %>
          <a
            type="button"
            href="/<%=Blog._id%>/edit"
            class="btn btn-sm-warning"
            >Edit</a
          >
          <form
            id="delete-form"
            action="/<%= Blog._id %>?_method=DELETE"
            method="POST"
            class="pull-right"
          >
            <button class="btn btn-outline-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <div style="padding-top:5%; padding-bottom:5%;">
        <div class="text-right">
          <a class="btn btn-success" href="/<%= Blog._id %>/comments"
            >Add New Comment</a
          >
        </div>

        
        <% Blog.comments.forEach(function(comment){ %>
        <div class="row">
          <div class="col-md-12">
            <strong><%= comment.author.username %></strong>
            
            <a
              href="/<%=comment._id%>/comments/edit"
              class="btn btn-sm-warning"
              class="pull-right"
              >Edit</a
            >
            <form
              id="delete-form"
              action="/<%= comment._id %>/comments?_method=DELETE"
              class="pull-right"
              method="POST"
            >
              <button class="btn btn btn-sm-danger">Delete</button>
            </form>
            <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea"><%= comment.text %></textarea>
          </div>
        </div>
      <% }) %>
      </div>
    </div>
  </div>
</div>

<% include footers %>
